%header("##")

Host *
   Protocol 2
   SendEnv LANG LC_* SOZ_PROFILES
   HashKnownHosts yes

#foreach host in ssh_hosts
  Host %(host)
  #foreach s in ssh_hosts[host]
        %(s) %(ssh_hosts[host][s])
  #end
#end

#if disable_ipv6
  Host *
    AddressFamily inet
#end
