%header("##")
[client]
port		= 3306
socket		= /var/run/mysqld/mysqld.sock

[mysqld_safe]
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]
character-set-server                = %(character_set)
skip-character-set-client-handshake = 1
set-variable                        = local-infile=0

user		= mysql
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= 3306
basedir		= /usr
datadir		= %(datadir)
tmpdir		= /tmp
language	= /usr/share/mysql/english
skip-external-locking

bind-address		= %(bind_address)

#foreach key in mysqld
  %("{0:<23} = {1}".format(key, mysqld[key]))
#end

#if version < 51
  skip-bdb
#end

#if ssl_enabled
  ssl-ca=%(ssl_ca)
  ssl-cert=%(ssl_cert)
  ssl-key=%(ssl_key)
#end

[mysqldump]
quick
quote-names
max_allowed_packet	= 16M

[mysql]

[isamchk]
#foreach key in isamchk
  %("{0:<23} = {1}".format(key, isamchk[key]))
#end

[myisamchk]
#foreach key in myisamchk
  %("{0:<23} = {1}".format(key, myisamchk[key]))
#end
