%header("##")

#foreach g in groups
  #if groups[g]["members"]
    define hostgroup {
      hostgroup_name %(g)
      #if groups[g].get("alias")
        alias          %(groups[g]["alias"])
      #end
      members        %(", ".join(groups[g]["members"]))
    }
  #end
#end
